* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: #C3C3C3;
  color: #333;
  padding: 20px;
}

header {
  background: linear-gradient(#673AB7, #2196F3);;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 1.8px 2px #000000;
}

header h1 {
  margin-bottom: 10px
  font-weight: bold;
}

/* Navigation styling */
nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

nav button {
  background: #fff;
  color: #2575F;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

nav button:hover {
  background: #f0f0f0;
  transform: translateY(-3px);
}

section {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skills-list {
  list-style: disc inside;
  margin-top: 10px;
}

.archived-icon {
  margin-left: 8px;
  vertical-align: middle;
  fill: #6a737d;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.contact-section {
  flex: 1 1 200px;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 4px #000000;
}

.contact-section:hover {
  transform: translateY(-3px);
  transition: color 0.3s, text-decoration 0.3s;
}

.contact-section h3 {
  margin-bottom: 5px;
}

.contact-section a {
  font-weight: none;
}

.contact-section a:hover {
  font-weight: bold;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  align-self: flex-start;
  background: #2575fc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #1b5bbf;
}
.project {
  margin-bottom: 15px;
  padding: 15px;
  border-left: 7.5px solid #272EFC;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 8px 16px #C7DCFF;
}

.project:hover {
  transform: translateY(-3px);
}

.project h3 {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.project a {
  color: #3B42FC;
  text-decoration: none;
  font-weight: bold;
}

.project p {
  color: #121111;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  body {
    padding: 40px;
  }
  nav button {
    padding: 12px 25px;
  }

  .fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensures the footer stays on top */
  }

  .tab {
    background: #C3C3C3;
    box-shadow: 0 2px 8px #2A2A2A;
  }

  .about-section {
    margin-bottom: 20px;
    background: #F1F1F1;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 0.5px 0.5px #000000;
  }

  .about-section h3 {
    margin-bottom: 10px;
    color: #333;
  }

  .about-section p {
    margin: 0;
    color: #666;
  }
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill-item {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 0 2px 4px #000000;
  font-weight: bold;
  transition: color 0.3s, text-decoration 0.3s;
}

.skill-item:hover {
  color: #2575fc;
  text-decoration: underline;
}